<div class="container vp-xs-top-4 vp-xs-bottom-2">
	<div class="row">
		<div class="col-xs-12 text-xs-center">
			<p>Copyright {{"now"|date('Y')}} <a href="http://mof1podcast.com">Master of One Podcast, LLC</a></p>
		</div>
	</div>
</div>